*{
    margin: 8px;
    background-color: rgb(58, 56, 56);
}





h1 {

    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 12px rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-display: block;
    color: aquamarine;
    letter-spacing: 7px;
    height: 100px;
    
}
h3{
   
    text-shadow: 3px 3px 12px rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-display: block;
    margin: 12px;
    padding: 9px;
    color: aquamarine;
}

.aboutweb{
    text-align: justify;
    text-overflow: clip;
    box-shadow: 2px 2px 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;    
    background-color: aquamarine;
    padding: 12px;
    margin-bottom: 20px;
    border: 6px transparent;
    border-radius: 12px;
} 

a{
    color: red;
    text-shadow: 3px 3px 12px rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-display: block;
    margin: 12px;
    padding: 9px;
    display: block;
    text-align: center;
    font-size: x-large;
}