*{
    margin: 8px;
    background-color: rgb(231, 231, 231);
}





h1{

    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 12px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-display: block;
    color: aquamarine;
    letter-spacing: 7px;
    
    
}

h3{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    margin: 20px 5px 5px 5px ;
    padding: 20px 5px 0px 5px ;
    text-decoration: underline solid black;
    
}

.aboutweb{
    text-align: justify;
    text-overflow: clip;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;    
    background-color: aquamarine;
    padding: 12px;
    border: 6px transparent;
    border-radius: 12px;
} 

.aboutlorem{

     text-align: justify;
    text-overflow: clip;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;    
    background-color: rgb(255, 127, 133);
    padding: 12px;
    border: 6px transparent;
    border-radius: 12px;
}

ul{
    text-align: justify;
    text-overflow: clip;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;    
    background-color: rgb(146, 127, 255);
    padding: 12px;
    display: block;
    width: 400px;
    border: 6px transparent;
    border-radius: 12px;
}
li{
   text-align: justify;
    text-overflow: clip;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;    
    background-color: rgb(232, 255, 127);
    display: block;
    padding: 4px;
    border: 6px transparent;
    border-radius: 12px;  
}

img{

    margin: auto;
    display: block;
    width: 300px;
    padding: 4px;
    border: 6px transparent;
    border-radius:16px; 
}
a{
    text-align: center;
    display: block;
}
button{
    margin: auto;
    display: block;
    border: 2px solid rgb(99, 76, 0);
    border-radius: 9px ;
    color: rgb(105, 90, 6);

}