h1{

    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 12px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-display: block;
    color: azure;
    letter-spacing: 7px;
    
    
}