*{
    margin: 12px;
}

body{

    margin: auto;
    display: block;
    width: 300px;
    border: 9px transparent;
    border-radius: 9px ;
    box-shadow: 1px 1px 12px black;
}

div{

    margin: auto;
    display: block;
    width: fit-content;
    padding: 6px;
}

button{
    margin: auto;
    display: block;
    width: fit-content;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(56, 65, 62);
    border: 5 transparent;
    border-radius: 6px ;
}

h1,h2{

    margin: auto;
    display: block;
    width: fit-content;
    padding: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(54, 54, 54);

}

a{
    display: block;
    width: fit-content;
    margin: auto;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
}
